// 无数据
@import './mixin.scss';
.orange{ 
    color: $orange;
}
.cursor{ 
  cursor: pointer;
}
.flex{
    display: flex;
}
@for $i from 1 through 5 {
    .flex_#{$i} {
      flex: $i;
    }
}
.dept_no_data_box {
    text-align: center;
    margin-top: 40px;
    .ico_no_data{
        font-size: 400%;
        color: #f8f8f8;
      }
    .no_data {
      font-size: 14px;
      color: #a9a9a9;
      text-align: center;
    }
}
// radio样式
.radio_active,
.radio_no_active {
  cursor: pointer;
}
.radio_active:before {
  font-family: "icon-bass";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA33";
  font-size: 16px;
  vertical-align: middle;
  color: $orange;
  margin-top: -2px;
}
.radio_no_active:before {
  font-family: "icon-bass";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA27";
  font-size: 16px;
  color: #cdc9c5;
  margin-top: -2px;
  vertical-align: top;
}
.radio_no_active:hover:before, .radio_active:hover:before{
  color: $orange;
}

.ibass-checkbox{
  color: #cdc9c5;
}
.ibass-checked, .ibass-minus-square{
  color: $orange;
}
.ibass-checkbox:hover{
  color: $orange;
}
// 弹框头
.dept_dialog_title_box {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    .title_name {
      font-size: 16px;
      color: $gray;
      background: #fff;
      padding: 0 10px;
    }
    .line_throw {
      border-bottom: 1px solid #eaeaea;
      margin-top: -10px;
    }
  }
  .btn_group {
    text-align: center;
    margin-top: 30px;
    .btn_confirm {
      width: 130px;
      span{
        color: #fff !important;
      }
    }
    .disable{
      background: #ebebee;
      border-color: #ebebee;
      color: #a9a9a9;
    }

}
// ::-webkit-scrollbar {
//   background-color: #F5F5F5;
//   width: initial;
//   height: inherit;
// }
// /*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
//   border-radius: 10px;
//   background-color: #F5F5F5;
// }
// /*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
//   background-color: rgba(0,0,0,0.3);
// }
